<!DOCTYPE html>
<html>
  <head>
    <title>PokeGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="container">
        <div class="nav-wrapper">
          <a class="brand-logo" <%= link_to 'PokeGuide', pokemons_url %></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li> <%= link_to 'Gallery', '/gallery' %>Gallery</li>
            <li> <%= link_to 'About PokeGuide', '/about' %>About</li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
              © 2018 PokeGuide -- Copywrong -- Shane Fondeur
            </div>
          </div>
    </footer>

  </body>
</html>
